name: erlang

on: [push, pull_request, workflow_dispatch]

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: ['DIR=master', 'DIR=master VARIANT=alpine',
              'DIR=27', 'DIR=27 VARIANT=slim', 'DIR=27 VARIANT=alpine',
              'DIR=26', 'DIR=26 VARIANT=slim', 'DIR=26 VARIANT=alpine',
              'DIR=25', 'DIR=25 VARIANT=slim', 'DIR=25 VARIANT=alpine',
              'DIR=24', 'DIR=24 VARIANT=slim', 'DIR=24 VARIANT=alpine']
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: |
           ${{ matrix.otp }}
           git clone https://github.com/docker-library/official-images.git ~/official-images
           cd "$DIR"
           eval $(awk '/OTP_VERSION=/ { sub(/@/, "-", $2); print $2; exit }' ${VARIANT:-.}/Dockerfile)
           image="erlang:${OTP_VERSION}${VARIANT:+-$VARIANT}"
           docker build --pull -t "$image" "${VARIANT:-.}"
           ~/official-images/test/run.sh "$image"
           docker images
